# LaTeX/XeLaTeX temporary files
*.aux
*.log
*.toc
*.bcf
*.run.xml

# PDF output - usually a bad idea to keep this in Git
main.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Build directory 
build*/
